<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
<session-factory>
<!-- Database Connection Settings -->
<property name="hibernate.connection.driver_class">
com.mysql.cj.jdbc.Driver
</property>
<property name="hibernate.connection.url">
jdbc:mysql://localhost:3306/CompanyDB
</property>
<property name="hibernate.connection.username">
root
</property>
<property name="hibernate.connection.password">
SYSTEM
</property>
<!-- Hibernate Settings -->
<property name="hibernate.dialect">
org.hibernate.dialect.MySQLDialect
</property>
<property name="hibernate.show_sql">
true
</property>
<property name="hibernate.format_sql">
true
</property>
<mapping class="com.kodnest.HibernateEmployee.Employee"/>

</session-factory>
</hibernate-configuration>
